body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100vh;
    background: #f1f1f1;
}

.loader {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    animation: animate 1.2s linear infinite;
    /* filter: blur(25px); */
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: 10px solid white;
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    /* filter: blur(10px); */
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}



/* pulse */
:root{
    --hover: #ef6eae;
}
.pulse:hover{
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
button.pulse {
    border: 2px solid var(--hover);
    color: var(--hover);
    padding: 1em 2em;
    cursor: pointer;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
}